src/*.exe
src/ufo
src/ufod
src/test_ufo
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.ufo

# Compilation and Qt preprocessor part
*.qm
Makefile
Makefile.Release
Makefile.Debug
object_script.ufo-qt.Release
object_script.ufo-qt.Debug
ufo-qt_plugin_import.cpp

UFO-qt
UFO-Qt.app

# Unit-tests
Makefile.test
ufo-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
